<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()">
  <ng-template pTemplate="list" let-products>
    @for (product of products; track product) {
      <p-card class="flex flex-column relative block mb-2">
        <!-- (onClick)="addToCart(product)" -->
        <div class="mb-2 flex justify-content-end z-10">
          <p-button label="Ajouter au panier" icon="pi pi-shopping-cart"
                    (onClick)="addToCart(product)" size="small"  />
        </div>

        <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
        <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
        <div class="mt-1">{{ product.description }}</div>
        <div class="mt-1 font-bold">{{ product.price }} €</div>

        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-2">
            <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)" />
            <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
          </div>
        </ng-template>
      </p-card>
    }
  </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>
